[2020-08-19 09:30] matias-capeletto opened #1 "Show only the nested area code that is currently selected"
When a nested area is being edited, the properties left sidebar shows only that area properties:
![nested-grid-code](https://user-images.githubusercontent.com/583075/90617423-f3725f80-e20e-11ea-9175-0e802089aa2d.PNG)

I think it is a good idea to do the same in the right code sidebar, showing only the html and css code for that area

[2020-09-09 19:23] matias-capeletto opened #2 "Support exporting to CodeSandbox"
We can use CodeSandbox Define API to create vanilla sandboxes:

   https://codesandbox.io/docs/api#define-api

I think that people will prefer one of the options (Codepen, CodeSanbox, later other options?), and only use that one when using the app. There should be a way to select this preference and save it in local storage. Only one Export button will be shown in this way avoiding cluttering the

[2020-09-09 19:27] matias-capeletto opened #3 "Dark theme preference is not preserved when reloading"
We need to save the preference to local storage. It would be interesting to also considering adding another state that uses the default setting for dark/light from the browser.

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-09-09 19:50] matias-capeletto opened #4 "Support offline use of the app"
The app needs a service worker

[2020-09-18 21:32] matias-capeletto commented on #4
Closed with https://github.com/Leniolabs/layoutit-grid/pull/5

[2020-09-18 21:32] #4 closed

[2020-09-22 20:16] matias-capeletto opened #7 "Add CONTRIBUTING.MD"

[2020-09-22 20:22] matias-capeletto opened #8 "Adopt Code of Conduct"
https://docs.github.com/en/github/building-a-strong-community/adding-a-code-of-conduct-to-your-project

I think we should adopt https://www.contributor-covenant.org
Simon has a tool to auto generate it https://github.com/sindresorhus/conduct

[2020-09-22 20:28] matias-capeletto opened #9 "Support adding line names to the first and last line"
Currently only names in internal lines are allowed
![image](https://user-images.githubusercontent.com/583075/93934041-d6a3dd00-fd22-11ea-9a20-6e9dcf2d30f9.png)

[2020-09-22 20:35] matias-capeletto opened #10 "Move Add Button for columns and rows in the sidebar to the top"
Add a [ + ] button at the top of each section right to the title. Having it in the bottom makes the button jump when adding a new track

![image](https://user-images.githubusercontent.com/583075/93934561-9f81fb80-fd23-11ea-885f-9703043f02f3.png)

[2020-09-22 20:38] matias-capeletto opened #11 "Grid lines are not visible when the gap is 0px"
![image](https://user-images.githubusercontent.com/583075/93935058-541c1d00-fd24-11ea-98dd-15deecb4cbfe.png)

[2020-09-22 20:43] matias-capeletto opened #12 "Maintain track size when changing unit"
When you change a unit, the size is updated to 1fr, 300px, 10%, 4em. We should try to compute a new value for the track size that gives the same approximate size, but with the new unit. It doesn't need to be exact.

[2020-09-22 20:50] matias-capeletto opened #13 "New Logo"
Layoutit Grid got the logo from the original Layoutit

![image](https://user-images.githubusercontent.com/583075/93936046-df49e280-fd25-11ea-83ce-f0f283726dc7.png)

We need a new modern logo to represent this app

[2020-09-24 15:51] AlexNodex opened #17 "Spaces in grid names"
If you add a space to a grid area name the class it generates has a space in it which is invalid css.

i/e if I name my area "foo bar" it generates the css...

`.foo bar { grid-area: foo bar; }`

...which is obiously invalid for this because "bar" would be an element seelctor!

Maybe kebab-case the inputs?

Edit: It seems you already kebab-case the grid-area name inside the `grid-template-areas` i

[2020-09-24 16:38] matias-capeletto commented on #17
Thanks for the report @AlexNodex! Yes, looks like a regression when we made the Code interactive, it should be easy to fix.
We also discussed not long ago about capturing spaces and automatically converting them to dashes everywhere for area names, what do you think?

[2020-09-24 22:00] #8 closed

[2020-09-24 22:00] #7 closed

[2020-09-24 22:03] matias-capeletto commented on #3
This was already implemented in https://github.com/Leniolabs/layoutit-grid/pull/14, but we have temporally reverted reading the preferred color scheme until the dark mode is more polished. Leaving this issue open until we add it back.

[2020-09-24 22:06] matias-capeletto opened #18 "Improve mobile UX to open and close sidebars"
There should be at least two buttons, one for the Props sidebar and one for the Code and clear hints of how they work. Maybe we need a small header in mobile instead of showing the grid covering the whole screen.

[2020-09-24 22:07] matias-capeletto opened #19 "Grid Gap should be editable from the CSS Code"
Allow to interact with the grid gap directly in the code view, in the same way we do for track sizes, line names and area names

[2020-09-25 07:48] #17 closed

[2020-09-25 13:35] matias-capeletto opened #20 "Add Github ribbon in the tool"
I think we can add the typical fork-me-in-github ribbon in the top-right

[2020-09-25 19:46] matias-capeletto opened #21 "Review area name validation"
We are converting to valid a valid css name when generating the code or showing the area name in the editor.
Now that we are also converting to a valid name on user input and not accepting spaces anymore, we could remove refactor the state to trust that it will always be a valid name and avoid having to convert everywhere. It would also be good to add dashes when the user press the space key (in t

[2020-09-25 19:59] matias-capeletto opened #22 "Switch to a new Icons set"
We are going to add more features and we need a good set to move forward

[2020-09-25 20:58] centrodph opened #24 "Please add e2e/functional test"
Add some test could be good

[2020-09-25 21:24] matias-capeletto commented on #24
Totally up for this ❤️
What do you recommend, cypress?

[2020-09-25 21:28] centrodph commented on #24
Cypress can be a good option

[2020-09-25 21:29] centrodph opened #25 "Please add the recommended editor config rules to follow"
https://github.com/vuejs/eslint-plugin-vue/blob/master/.editorconfig

[2020-09-25 21:45] matias-capeletto commented on #25
+1, PRs accepted! ❤️

[2020-09-25 22:23] #10 closed

[2020-09-26 00:02] gemanepa opened #26 "Add Essential Social Media HTML Tags to <head> for improved social media presence"
[Twitter](https://css-tricks.com/essential-meta-tags-social-media/):
![Screenshot from 2020-09-25 20-58-01](https://user-images.githubusercontent.com/36349751/94324785-d5b4ba80-ff71-11ea-9ee5-46447d08c7c2.png)

[LinkedIn](https://www.linkedin.com/help/linkedin/answer/46687/making-your-website-shareable-on-linkedin):
![Screenshot from 2020-09-25 20-52-11](https://user-images.githubusercontent.com/3

[2020-09-26 21:21] matias-capeletto opened #27 "vueuse vs vue-composable"
We started using https://github.com/pikax/vue-composable for useLocalStorage. The same hook is present in https://github.com/antfu/vueuse, that also includes usePreferredDark and useDebounceFn (that we could use to remove lodash from our dependencies). Both libraries looks really good, and are mantained by Vue team members.

I think we should migrate to use vueuse, to simplify our dependencies at

[2020-09-27 08:20] dannynpham commented on #11
Can I help with this? I think we would default to 1px whenever the length value is equal to 0?

[2020-09-27 19:26] matias-capeletto commented on #11
Hey @dannynpham! I think that is actually a good idea to close this bug. If we use 1px when the value is zero for the Editor, it will at least be functional. +1 for a PR with this change 👍

After that, we can then open another issue though, labeled *enhancement* instead of *bug* to properly support a gap of zero. Because it will be good to avoid having that extra pixel that modifies a bit how the

[2020-09-28 12:22] matias-capeletto opened #30 "Customize scroll bars in the CodeViews"
Something like the simple scrollbars from CodeMirror would be great https://codemirror.net/demo/simplescrollbars.html
What is important is that there isn't a shift when the scrollbar needs to appear.

[2020-09-28 18:26] matias-capeletto commented on #11
fixed by @dannynpham with https://github.com/Leniolabs/layoutit-grid/pull/29

[2020-09-28 18:27] #11 closed

[2020-09-28 19:23] matias-capeletto opened #31 "Refactor grid lines into a GridTrack component"
@dannynpham pushed a fix for https://github.com/Leniolabs/layoutit-grid/issues/11, making the grid default to 1px gap in case there is a gap of zero. This works but there will be small diffs with the real grid the user will generate. This issue tracks a longer term solution by refactoring the GridEditor.

We can move the grid lines out of the GridCell component into a new GridTrack component and r

[2020-09-29 08:51] matias-capeletto opened #33 "Add copy to clipboard button in code views"
We can use useClipboard from vueuse https://vueuse.js.org/?path=/story/browser--useclipboard

[2020-09-29 13:03] matias-capeletto opened #34 "Allow selection area to go over other areas"
CSS Grid allows areas to go over each other, using grid-area and line numbers instead of grid-template-areas. The app is correctly detecting this case and the code works fine. But when the cells are being selected to define an area (see SelectionArea.vue), the selection doesn't expand if you are in a cell that already has another area. With the current approach to get the cell from the current poi

[2020-09-29 16:57] rhythm1920 commented on #33
Can I take up this issue for Hacktoberfest??
I am assuming that you want separate button for html and css code. Please inform me if I am wrong in this assumption.
Some questions before I start working-
* Where should the button be placed? bottom right or  bottom left in the code views or any other position??
* Can I give the same styling and response as the permanent link button??

[2020-09-29 17:57] SpaceBuckets commented on #33
Sure @rhythm1920! Feel free to work on this issue :)

As for the design, we just need a "Copy" text on the top right of each code box, aligned with the CSS/HTML titles. When you click on it the text changes to "Copied!".

[2020-09-29 17:59] agustin-capeletto-lenio commented on #33
Sure @rhythm1920! Feel free to work on this issue :)

As for the design, we just need a "Copy" text on the top right of each code box, on the opposite side of the HTML/CSS titles. When you click on it the text changes to "Copied!" temporarily.

[2020-09-29 18:10] matias-capeletto commented on #33
@rhythm1920 we have these two computed variables `cssCode` and `htmlCode` that have the code strings we use for the Codepen export and you could pass to the code editors: https://github.com/Leniolabs/layoutit-grid/blob/main/src/components/code/LiveCode.vue#L47

[2020-09-29 18:14] patak-js opened #35 "Area name should be editable in the html editor"
We could rename the CssCodeAreaName component to CodeAreaName so we can also use it in the class name of each div

[2020-09-29 19:33] matias-capeletto opened #36 "When dragging a grid line the affected units combo in the sidebar should be highlighted"
It should work in the same way as when editing a size

[2020-09-29 19:39] Abdul-Sen commented on #36
Hi please assgin this issue to me. I'll try to impliment this feature.

[2020-09-30 15:32] matias-capeletto opened #37 "Add keyboard shortcuts for main features (undo, redo, delete area)"
We should add keyboard shortcuts for the main actions:
  Cmd+z : undo
  Cmd+y | Cmd+Shift+z : redo
  Cmd+s : Get Permalink
  Cmd+q : reset

When selecting grid cells for a new area (AreaSelection.vue)
  Esc: closes selection, or cancels area edition

When area is active
  delete : removes the area (or the subgrid if there is one)
  c: add column (in the future it can mean, add it where I have the

[2020-09-30 15:35] CodeSadhu commented on #37
Interesting. Would like to take this up. Can you please assign this to me? @matias-capeletto

[2020-09-30 15:38] matias-capeletto commented on #37
Totally @CodeSadhu ! That was fast 💯

[2020-09-30 17:34] rhythm1920 commented on #33
I have started working on the issue. I just wanted to know if I should create a separate vue file like `saveButton.vue` or should I add it in the `CodeEditor.vue`. https://github.com/Leniolabs/layoutit-grid/blob/main/src/components/code/CodeEditor.vue

[2020-09-30 17:56] matias-capeletto commented on #33
Hey @rhythm1920, both options are fine. But +1 if you want to create a new component. In that case, please use `<script setup>` for it and you could name it something like CodeClipboardButton.vue 👍

[2020-10-01 08:45] ranjal007 commented on #35
Is this issue opened? I want to contribute in it for Hacktoberfest,

[2020-10-01 09:09] ranjal007 commented on #35
I have created a Pull request regarding this issue. Kindly review it @matias-capeletto .

[2020-10-01 09:21] matias-capeletto commented on #35
Hey @ranjal007, lets discuss there 👍.
The rename part is to be able to also use it in the HtmlCodeEditor for the area names in the class attr value.

[2020-10-01 09:29] matias-capeletto commented on #36
Thanks @Abdul-Sen 🎉

[2020-10-01 09:29] #36 closed

[2020-10-01 09:31] matias-capeletto commented on #20
Closed with https://github.com/Leniolabs/layoutit-grid/commit/b00dba7a6779ebb861f35ac730ff77fea3f43c07

[2020-10-01 09:31] #20 closed

[2020-10-01 09:32] matias-capeletto commented on #3
Closing, I'll open a separate issue for the dark mode later

[2020-10-01 09:32] #3 closed

[2020-10-01 09:33] matias-capeletto commented on #22
Closing, we will continue to use http://entypo.com

[2020-10-01 09:33] #22 closed

[2020-10-01 09:49] matias-capeletto opened #41 "Highlight tracks on hover"
We could have a `currentHover` ref in the same way that we have a `currentFocus` ref in store.js to track focus of track and line names focus, so we can highlight those tracks in the sidebar, code editor and inline inputs in the GridEditor.

- When hovering in a track size/unit in the sidebar, then highlight that track (and its size) in the GridEditor and in the Code Editor
- When hovering in a tr

[2020-10-01 17:47] rhythm1920 commented on #33
@matias-capeletto, I have submitted the PR #42. Please review it.

[2020-10-02 08:10] amaury-hanser opened #43 "Selecting "auto" leads to wrong css"
Hello,
Selecting **"auto"** as the value of a column/row generates incorrect css: `1auto` instead of `auto`.

**Steps to reproduce:**

- Go to [https://grid.layoutit.com/](Layoutit!)
- Select **"auto"** for the first column

**Generated css:**

[code]

**Expected css:**

[code]

[2020-10-02 09:37] #43 closed

[2020-10-02 09:39] amaury-hanser commented on #43
@matias-capeletto Sorry, I failed to find it. Thanks.

[2020-10-02 09:47] matias-capeletto commented on #43
No, thanks you a lot for the report @amaury-hanser! And thanks for looking into it also 💯
There are more issues open if you want to keep digging 👍

Looks like there was a regression. `min-content` and `max-content` were also affected.
I took the opportunity and improved the handling of these units overall. The sidebar inputs are just not visible now, and in the view the track sizes are forced to r

[2020-10-02 10:17] amaury-hanser commented on #43
I like the changes you've made!
If I find anything, I'll let you know!

[2020-10-02 12:19] agustin-capeletto-lenio opened #44 "Grid lines should not overflow main grid container while dragging"
Grid lines are overflowing the main grid container when dragging in non full width grids.

To reproduce, create a grid that doesn't fill the 100% of the width of the application (don't use fr units). Lines with class `dragging` should not overflow the container.

<img width="1680" alt="Screen Shot 2020-10-02 at 9 13 31 AM" src="https://user-images.githubusercontent.com/32105818/94922097-f7d99b80-0

[2020-10-03 16:54] matias-capeletto commented on #33
Closing! Thanks again @rhythm1920 🙌

[2020-10-03 16:54] #33 closed

[2020-10-03 16:55] matias-capeletto commented on #19
closed by https://github.com/Leniolabs/layoutit-grid/pull/47, thanks @apresmoi 🙌

[2020-10-03 16:55] #19 closed

[2020-10-03 17:02] matias-capeletto opened #48 "Properly setup eslint and prettier with vite"
We lost this configuration when we migrated to Vite from vue-cli.

This was the old package.json bits related to this
[code]

Looks like we now would have to do something like this though:

https://simohamed.tech/blog/vue3-lint/
https://www.simonwuyts.com/articles/vue-3-a-modern-setup-that-will-save-you-time/

[2020-10-03 17:52] centrodph commented on #48
@matias-capeletto could you assign me this issue?

[2020-10-03 21:36] gm1357 commented on #18
Is there anyone on this? Can I tackle it?

[2020-10-04 12:37] matias-capeletto commented on #48
Closed with https://github.com/Leniolabs/layoutit-grid/pull/49 by @centrodph ❤️

[2020-10-04 12:37] #48 closed

[2020-10-04 22:13] agustin-capeletto-lenio commented on #18
@gm1357 go ahead! Let us know if you need help. I think having two buttons for Props/Code is fine for now, in the future we could merge the two sidebars on mobile.

[2020-10-04 23:20] gm1357 commented on #18
Thanks @agustin-capeletto-lenio. Will work on the two button strategy then.

[2020-10-06 13:11] #26 closed

[2020-10-06 13:11] #44 closed

[2020-10-07 07:04] matias-capeletto commented on #18
Thanks @gm1357 ! 🙌

[2020-10-07 07:04] #18 closed

[2020-10-08 18:46] edades commented on #2
Hi @matias-capeletto do you have in mind a place to have the user preferences and store this selection (codesandbox exportation)?
Also, I think that maybe for now we could have a dropdown to select how to export the code.
Export using: [Dropdown menu]
                          - Codepen
                          - CodeSandbox

thank you

[2020-10-09 13:51] matias-capeletto commented on #2
Hey @edades! I think that we can divide this issue in several PRs. If you would like to tackle the CodeSandbox export, we can leave the UI quite simple at first. Just another button next to the current one. We can later see how to improve it.
But if you want to do some UI work also, maybe in a different PR, I think that a good solution is a Split button dropdown. That has the current preferred pla

[2020-10-12 22:26] #34 closed

[2020-10-15 12:32] matias-capeletto opened #55 "Allow resizing of sidebars"
For the visual feedback, maybe a cursor change is enough for the moment

![layoutit-grid-screenshot](https://user-images.githubusercontent.com/583075/96122980-7ef82c00-0ef2-11eb-9bde-8ef1b10b3d72.PNG)

[2020-10-15 12:33] #31 closed

[2020-10-15 12:33] #27 closed

[2020-10-15 12:34] #9 closed

[2020-10-17 13:55] adyuebanwan opened #57 "api-save- recovery"
hi, how to save and recovery data by api?  (use json)
for example:
saveDesign(data){
....
}
recovery(data){

}

can you give me some cases ,Thanks!

[2020-10-17 14:03] matias-capeletto commented on #57
Hello @adyuebanwan, what is your use case?
We will add support to persist the current layout after reloading the page soon, and to do that we will have to convert the current state to json for local storage. We have another serialization version that is used for the permalink feature, but that is only available in the deployed app right now.

[2020-10-17 14:05] matias-capeletto commented on #57
I think with time we should follow the lead of https://excalidraw.com/ in this regard, they have a lot of good ideas about saving and recovering. They even support direct save and load from the filesystem.

[2020-10-17 18:54] estudiobold commented on #13
Will give this a try, maybe 👀 haha

[2020-11-08 14:31] #57 closed

[2020-11-23 17:04] #41 closed

[2020-11-23 17:07] matias-capeletto commented on #2
Thanks @edades 🎉

[2020-11-23 17:07] #2 closed

[2020-11-23 22:56] FrankySnow opened #61 "Allow moving/extending grid areas"
Hello,
first of all, thank you for this wonderful tool !

The only thing I am missing is the ability to move or extend already defined grid areas.

When one grid area is saved, there is no way (at least I found none) to make it start at another row/column, or to make it span a different number of rows/columns.

Thanks in advance for taking this into consideration

[2020-11-23 23:06] matias-capeletto commented on #61
Hey @FrankySnow ! Thanks for the kind works ❤️

If this is in the production version at grid.layoutit.com, we added support for editing areas by clicking on their names. Check out this tweet: https://twitter.com/layoutit/status/1308060932011167751

If you are testing the code in the main branch, give us a few weeks, there are a lot of exciting things building up there 😉

[2020-11-26 14:56] FrankySnow commented on #61
Ok thank you @matias-capeletto !

I was referring to the production version. This is indeed what I was searching for, but I wasn't able to discover this feature without seeing your tweet. To me this is not intuitive, as there are no UX clues suggesting that I can do something else that editing the name, but maybe is it just me ? What I was trying to do is something similar to many cell-based softw

[2020-11-26 15:07] matias-capeletto commented on #61
Totally agree @FrankySnow 👍

In the next version, to be released hopefully during the next month, we will have an edit button. Clicking the area name will select it instead of editing it, that as you said, is not intuitive.

About grabbing the borders to modify, it would be a really interesting feature. We should add handles for that because if not, dragging will move the line, but I think we may

[2020-11-26 15:19] #30 closed

[2020-11-26 15:19] #13 closed

[2020-11-26 17:28] daniellenarduzzi opened #62 "Unexpected behavior when using tabs"
when filling sizes and magnitudes I would like to navigate through them using tab and shift + tab. Today, when pressing these keys, the behavior is somewhat unexpected.

[2020-11-26 22:14] FrankySnow commented on #61
Great, can't wait to see it !

[2020-11-30 11:15] #61 closed

[2020-12-04 13:27] matias-capeletto commented on #37
Hey @CodeSadhu, are you still interested in this feature? I'll remove the assignment if not so others are free to work on it.

[2020-12-08 07:45] CodeSadhu commented on #37
@matias-capeletto Damn, sorry. I've been a bit busy lately so it's cool with me if you assign this to someone else. I don't think I'll be able to do this feature right now! Sorry for keeping you hanging 😓

[2020-12-08 14:29] matias-capeletto commented on #37
@CodeSadhu no worries! Just checking the state of the issues so people can jump in if they want. Thanks for your interest!

[2020-12-15 23:55] karatetoes opened #63 "[Feature Request"

[2020-12-15 23:55] #63 closed

[2020-12-15 23:56] karatetoes opened #64 "[Feature Request] Import Previously Generated Grids"
Had a Windows update during my layoutit grid making and lost all the grid elements I had designated.  It would be amazing to me and my future work if I was able to import previously generated layoutit grids

[2020-12-16 13:42] matias-capeletto commented on #64
Hey @karatetoes, thanks for your feedback. I totally agree, and the feature you are requesting is currently implemented together with a lot of new goodies. We plan to release the new version soon (hopefully in just a few weeks). We will be tweeting about the new features at https://twitter.com/layoutit

[2020-12-31 22:55] overtheover opened #66 "paste in existing grid-template-areas "header header header", etc to generate IE 10 / IE 11 legacy grid specs"
It would be extremely helpful if you had an additional textbox where I could paste in the code for grid-template-areas and have it output the correct IE 10 / IE 11 CSS for -ms-grid-row, -ms-grid-row-span, -ms-grid-column, -ms-grid-column-span, etc for grid-template-areas.

Creating the grid is easy enough visually in grid-template-areas - but trying to make it work in IE 10 / 11 is mind numbing.

[2021-01-01 18:25] #66 closed

[2021-01-01 20:45] matias-capeletto commented on #66
Thanks for the suggestion. I think that it could be a nice standalone tool, I wonder if there isn't one already on the web.
For this app, I think It is not that easy to implement because we would need both HTML and CSS to be pasted, or maybe load from a CodePen. It could be interesting to explore.

[2021-01-06 09:18] #64 closed

[2021-01-06 09:23] patak-js opened #67 "Replace sass with PostCSS"
We are only using css for nesting, it would be great to remove it and migrate to https://github.com/jonathantneal/postcss-nesting#readme

[2021-01-07 15:58] abeledovictor commented on #12
Can we use [Polished](https://polished.js.org/docs/#em) for this enhancement? For em and rem at least, and for percentages maybe we can do the calc getting the container width.

[2021-01-07 16:17] matias-capeletto commented on #12
Interesting @abeledovictor, that is an option. We could also check how that utility is implemented, maybe it is a one liner that we can include in our utils and avoid the dependency

[2021-03-01 12:47] erickgomez28 commented on #37
Hi @matias-capeletto, I would like to add this feature, could you please assign it to me?

[2021-03-01 12:59] matias-capeletto commented on #37
Awesome @erickgomez28 ! Thanks a lot 🙌🏼

[2021-03-02 04:38] gusbemacbe opened #68 "I can not scroll the grid section to view the third row when I expanded 1200px for a grid row"
Hello,

1. Select for 1fr for first grid row.
2. Select for 1200px for second grid row.
3. Select for 300px for third row.
4. Try to scroll the grid section to view the third grid row.

[2021-03-02 05:46] matias-capeletto commented on #68
Thanks @gusbemacbe, we are going to tackle this one as part of v2 Not too long til it's released :)

[2021-03-04 12:51] erickgomez28 commented on #37
Hi @matias-capeletto , I can't modify the shortcut to cmd + q because it allows to exit the current application on mac, so I can't catch it with the listener. Could we use another shortcut to reset the grid, maybe cmd + r?

[2021-03-04 13:49] matias-capeletto commented on #37
Yes, go for it 👍🏼

[2021-03-12 15:07] #37 closed

[2021-03-12 16:27] erickgomez28 opened #70 "Add keyboard shortcuts to grid"
For navigation on the main grid or in the subgrid of a selected area:
Arrow right: move the hover to the right cell
Arrow left: move the hover to the left cell
Arrow down: move the hover to down cell
Arrow up: move the hover to up cell

In addition to its current functionality:
Esc: cancels the edit column or row name separator
c: add a column where I have the hover
r: add a row where I have the h

[2021-03-12 16:30] erickgomez28 commented on #70
Hi @matias-capeletto, these are my suggestions to expand the current keyboard shortcuts.
What do you think?

[2021-03-12 21:45] matias-capeletto commented on #70
I think these are great additions. I really like the idea of add columns and rows where you are. I think we may need to see it work to fine-tune it, but let's try!

@agustin-capeletto-lenio what do you think about shift+click for deleting rows/columns?

About the shortcuts when you are in a line, I think they are nice to have. I am only afraid about how we people are going to discover all these ke

[2021-04-09 17:18] MikaelPorttila opened #73 "Add support for multiple device and responsive design"
Hi,

A feature request for an already great tool:
The option to design for multiple device sizes and orientations at once and then the choice to export all the needed responsive styles.

[2021-04-10 19:15] patak-js commented on #73
Thanks for your interest in the project! We discussed this feature a few times in the past. It would be very useful.
It is not that easy to add though, but let's use this issue to track future progress.

[2021-04-13 08:49] gusbemacbe commented on #68
Any news?

[2021-04-13 09:06] patak-js commented on #68
Releasing v2 is taking longer than we expected, we want to be careful with changing the app since there is a lot of users right now. But I hope we can release it soon.

[2021-05-14 13:58] leandroercoli opened #75 "Unable to click on sidebar elements on lower portion of smaller screens"
On smaller screens, some elements in the sidebar become unreachable when the mobile buttons' wrapper is displayed on top.

<img width="1431" alt="sidebar-mobile-bug-v1" src="https://user-images.githubusercontent.com/26791103/118279553-a8396480-b4a1-11eb-895c-b54eaa287ff4.png">
<img width="1258" alt="sidebar-mobile-bug-v2" src="https://user-images.githubusercontent.com/26791103/118279574-ac658200-b

[2021-05-14 18:11] patak-js commented on #75
I agree the mobile experience can be improved. Ideas and PRs welcome :)

[2021-06-14 16:14] Nisgrak opened #79 "Import existing grid"
Allow to import existing html/css into the grid, this way can modify a previous created(with the app or manually) grid.

An optional awesome feature can be maintain the not grid related props (like background, padding) of imported css and attrs (id, class, data-...) in html.

[2021-06-15 19:30] patak-js commented on #75
Closing as resolved, thanks again for your contribution @leandroercoli

[2021-06-15 19:30] #75 closed

[2021-06-16 22:03] #67 closed

[2021-06-16 22:03] #35 closed

[2021-07-10 14:19] userquin commented on #68
@gusbemacbe since you are using fixed size you also need to increase the `width` on the `Area box` at bottom of left menu. I think what you need, cannot be done here since the `editor area` has a fixed size on screen and so you need to increase the width and/or the height of the `area editor` on `Area box`.

@patak-js maybe we need to add some hint in the docs about using fixed units (px, em, rem

[2021-07-11 12:16] patak-js commented on #68
Thanks for digging into this @userquin, I thought there was something broken with the CSS for the editor but you are right here. Looks like we introduced this regression when we start using 100% for the width and height of the main area. This simplified some things but looks like we need to return to the previous values for this to work.
So, probably the best way forward is to set width and height

[2021-07-22 16:53] patak-js commented on #68
This should be fixed now. Deployed to https://grid.layoutit.com (wait for the refresh to see it, and you may have to press reset to make this one work)
Thanks again for the report and for digging into this issue. Let me know if something looks off to you.

[2021-07-22 16:53] #68 closed

[2021-07-27 08:21] RdeWilde opened #88 "Publish to npmjs"
Can you please publish to npmjs, so we can just add it to dependency managment?

[2021-07-27 09:43] patak-js commented on #88
Currently, this is meant to be used as an app and not a library that you can embed. What would be your use case for this?

[2021-07-28 08:28] RdeWilde commented on #88
Web page. I already added it 👍🏼

[2021-07-28 08:28] #88 closed

[2021-07-28 08:30] patak-js commented on #88
What web page? 👀

[2021-07-28 13:22] RdeWilde opened #89 "Uncaught ReferenceError: ref is not defined"
I get this error when I try to load the component

[code]

![image](https://user-images.githubusercontent.com/184016/127329268-9712bade-79a7-4cb3-b915-d09ddc1c55c5.png)

Seems like the function is in vue/compat but my browser cannot resolve it.

I am using Laravel mix for the webpack configuration.

I tried to resovle vue to vue-compat, but not sure if that did work correctly:

[code]

[2021-07-28 13:55] RdeWilde commented on #89
Should this be on top of src/store.js?

`import { ref, watch } from '@vue/compat'`

[2021-07-28 14:22] patak-js commented on #89
Using the app as a library is not in the scope of the project at this point. You are using Webpack and the app is built with Vite for example. Would you tell us more about your use case? I'm curious 👀

[2021-07-28 14:22] #89 closed

[2021-07-28 14:30] patak-js commented on #89
Hey @RdeWilde, I see that you have published it in npm https://www.npmjs.com/package/layoutit-grid
It is not good if you clone and publish an app like this to npm, as it looks like it is your own creation in npm. I would like to ask you to donate the layoutit-grid package name to us, you can invite the username patak there and I can deal with it. Thanks

[2021-07-28 14:41] RdeWilde commented on #89
I am trying to use it in our CMS so that clients can compose their photogrid for their website. How should I continue to fix this?

I published it because it is the only way to use it in NPM. Glad to donate, where can i do this?

Hopefully you can help.

[2021-07-28 14:56] RdeWilde commented on #89
@patak-js I invited you at NPM

[2021-07-28 15:00] patak-js commented on #89
Thanks @RdeWilde. To give us the npm package name, you have to go to https://www.npmjs.com/package/layoutit-grid/access and invite the user `patak`, then you can remove yourself or I'll do it so the package is from then on managed by Leniolabs.

About your use case, interesting! At this point, I think the only way to consume the tool in other applications is by setting up an iframe and point it to

[2021-07-28 15:00] patak-js commented on #89
Oh, thanks!

[2021-07-28 15:37] patak-js commented on #89
I published a new version 2.1.0 to the package with a note about the current state. Thanks again @RdeWilde. Let us know if you end up reworking what we currently have for your use case. If we end up re-packaging the tool as a lib (it is a possibility that we discussed, but other priorities like adding support for flex are in our way), we'll let you know

[2021-07-28 19:48] RdeWilde commented on #89
Awesome @patak-js will look into it. If you have any guidance om how to approach it, feel free to share and I'll try to take it into account.

[2021-07-31 21:22] Dan503 opened #90 "Generate `grid-template` syntax for better readability"
At the moment it produces code like this:

[code]

However it is much easier to read if the code is formatted like this in `grid-template`:

[code]

Note the additional spaces that you need to add to line up the column widths with the start of the area name.

Also, if a row is `auto` it doesn’t need a row height specified.

[code]

By moving all the values into the 1 rule you can easily see what v

[2021-07-31 21:27] Dan503 commented on #90
Perhaps you can apply it via a checkbox in the UI.

Something like this:

- [ ] Convert to `grid-template` syntax

[2021-07-31 21:38] patak-js commented on #90
This sounds great, let us know if you would like to try a PR. If not I'll open this issue to other collaborators.

[2021-07-31 21:43] Dan503 commented on #90
I'm not really interested in creating a PR.

I'm comfortable enough with CSS Grid to write my code without a visual tool to help me.

I created the ticket so that people who do use this tool would be able to produce more readable code.

[2021-07-31 21:50] patak-js commented on #90
Thanks for the suggestion!

[2021-08-02 01:21] ghostdevv opened #91 "Reset button"
Would be great to have a reset button, whenever I am done with a big grid it's a pain to have to manually clear it all to start a fresh

[2021-08-02 13:16] patak-js commented on #91
There is a Restart button in the top right corner 👍🏼
![image](https://user-images.githubusercontent.com/583075/127867945-49f5ffa5-9f63-4e00-be59-a2c292d494ea.png)

[2021-08-02 13:16] #91 closed

[2021-08-02 14:20] ghostdevv commented on #91
Awesome, I missed that :sweat_smile:

[2021-08-02 14:36] patak-js commented on #91
Maybe we should change the icon, would something like this icon be more clear to you?
![image](https://user-images.githubusercontent.com/583075/127878541-af4ceb47-780f-4589-97ff-ebe55394a0ae.png)

[2021-08-02 14:36] patak-js commented on #91
Oh... but smaller, github filled up the whole comment 😅

[2021-08-02 14:55] ghostdevv commented on #91
Definitely too big xD
![](https://i.imgur.com/m5cbBAf.png)

It's fine how it is, I just didn't notice it was there - been using v1 for a while so still getting used to the new version's ui

[2021-08-02 15:04] patak-js commented on #91
hahaha, PR welcome with that icon 😄

What do you think about the new UI? We were worried about changing too much. Very interested if you have any feedback on the new features, easy of use, design.

We also left v1 at https://grid-v1.layoutit.com just in case, but I hope that most people will prefer the new version

[2021-08-02 15:12] yuri-scarbaci-lenio commented on #90
Hello,

I'm not fluent in this project or vue in general, but I did a "generic algorithm" that could be used for this

https://codesandbox.io/s/algorithm-for-layoutit-new-grid-template-9w6c9?file=/src/index.js

if anyone want to take the time to implement it in a PR in this project :)

[2021-08-02 15:13] ghostdevv commented on #91
Might do

It has a lot of stuff that v1 was missing, so the update is awesome. There is only one thing that wasn't obvious, and that is if you double click on a item inside grid placement it resets it back to inital, at first I was wondering how to do that - other than that it's awesome. I use this tool all the time!

While getting used to the UI I did use this a few times to quickly create simple

[2021-08-02 15:33] patak-js commented on #91
Just in case, that was just a random icon. We are using this set https://holasvg.com/icons from @marianabeldi, but we may need to talk with her about adding or modifying the reset one. IMO it could be more clear.
But other PRs are more than welcome :)

Oh... I see that we have zero feedback for that one. Maybe the color should change on hover once it is selected so you know that something would ha

[2021-08-02 15:35] ghostdevv commented on #91
Sounds good!

[2021-08-02 15:38] patak-js commented on #91
I also think that when you get back to initial, the picker shouldn't close the other options.

[2021-08-02 15:41] patak-js opened #92 "Improve Grid Placement pickers"
See https://github.com/Leniolabs/layoutit-grid/issues/91#issuecomment-891108259

- change color on hover to darker blue once an item is selected, so the user knows it can click on the selected one to go back to `initial`
- don't close the options when going back to `initial`. The options should collapse by clicking on the title (collapsing with local state).

[2021-08-02 15:41] patak-js commented on #91
Thanks for the feedback, issue to track the picker improvements here https://github.com/Leniolabs/layoutit-grid/issues/92

[2021-09-18 04:16] architchandra opened #95 "Doesn't work on Firefox (M1 Mac) for me"
Tried in an incognito window as well. With default tracking protection settings applied.
![Screenshot_2021-09-18 Layoutit Grid — CSS Grids layouts made easy ](https://user-images.githubusercontent.com/8830075/133872144-74f9f77d-0077-477f-94b8-6ede2f7f0586.png)

[2021-11-16 16:34] alexrobaina commented on #25
@patak-js this issue can be closed?

[2021-11-16 16:37] patak-js commented on #25
Hey @alexrobaina, we still need to add .editorconfig. PR welcome!

[2021-11-16 17:17] alexrobaina commented on #25
Hi @patak-js!
Great! Thank you for your answer

I created a PR with .editorconfig
https://github.com/Leniolabs/layoutit-grid/pull/96

[2021-11-16 18:15] #25 closed

[2021-11-24 10:10] leomayer opened #97 "Changes of width are not transferred to CSS"
I want to change the width of a column, e.g. from the default of `4em` to `8em`. The changes are not reflected in the CSS.

After change of the focus the initial values are still displayed.

I made a short [video](https://drive.google.com/file/d/1HMgUBkUREq-dfhQ9aykuSbhjjTJY1ooS/view?usp=sharing) how this works.

[2021-11-26 12:41] bartrylant opened #98 "Sizes go back to defaults"
Might be the same issue as this one:
https://github.com/Leniolabs/layoutit-grid/issues/97

When I enter some values in the grid sizes input fields, they just go back to their initial state. E.g.:

- I set the width to pixels
- Default is 300 wide
- I change 300 to 100
- I click somewhere else or tab
- Width changes back to 300

[2021-11-26 15:43] patak-js commented on #98
Thanks for the report, and sorry for the glitch. Please refresh the app, it should work now 👍🏼
Closed by https://github.com/Leniolabs/layoutit-grid/commit/61208a3de8f7bc0dac7b0f1a81cee41a469a82c8

[2021-11-26 15:43] #98 closed

[2021-11-26 15:44] patak-js commented on #97
Thanks for the report! Could you refresh the app and test it now?

[2021-11-29 10:50] leomayer commented on #97
After a quick test it seems to work. Thx

[2021-11-29 10:50] #97 closed

[2021-12-21 15:48] leomayer opened #99 "Line feed in sub-components"
Somehow the styling of the line-feeds is strange when copy-paste via the designated button:
![Bildschirmfoto von 2021-12-21 16-46-09](https://user-images.githubusercontent.com/2641128/146958575-65cbaaea-c5f5-45a9-aaa7-12f30ea5c02f.png)

results in a code like
[code]

No clue what the `valid` has an extra line. Similar thing happens if one has only ONE property. Than the line feed behaves as well q

[2021-12-21 15:50] leomayer opened #100 "Button - tooltips or title"
It took me quite a while to recognize that the refresh icon is more or less a `clear` button. I would suggest either to use a different icon and/or set a tooltip or a title. At least for this specific button it would be beneficial.

[2021-12-21 16:21] #99 closed

[2021-12-21 16:21] #100 closed

[2021-12-21 16:22] patak-dev commented on #100
Thanks for the reports! Will release soon with both fixes 👍🏼

[2021-12-21 17:15] leomayer opened #101 "Reverse engineering"
I love your app and your approach. Currently I see that I can edit the CSS settings and they are taken over.

My current work flow looks like: I'm copy'n-paste the CSS from your side and simply use it in my app. Nevertheless after some time I need to make some changes, e.g. adapt `aligin-self` or add an class. I cannot use your site to reverse engineer the code. I mean that I would love to copy pa

[2021-12-21 17:20] patak-dev commented on #101
Hey, thanks for your interest! We have discussed an import feature at one point, but as you say it is quite complex to get right. The tool scope is that of a one-way generator and learning tool. If you want a page builder, where you can edit and continue using it, there are better options available. Maybe something like Figma?

[2021-12-21 17:20] #101 closed

[2022-01-19 22:51] EnetoJara opened #102 "page breaks when adding "#""
<img width="1382" alt="image" src="https://user-images.githubusercontent.com/24560394/150230907-ede167d5-aa68-4d90-a05a-e5738cc96994.png">

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/24560394/150230945-137d8b3e-7d23-4272-a53b-0c9da28f9010.png">

example if you change

<img width="211" alt="image" src="https://user-images.githubusercontent.com/24560394/150231053-cc

[2022-01-27 10:14] #102 closed